# За замовчуванням глобальний рівень ведення журналу.
# Це вказує, які типи подій реєструються для
# усіх логерів. Для будь-якого конкретного засобу цей глобальний рівень
# може бути змінений на рівень, специфічний для цього засобу.
# Зверніть увагу, що ConsoleHandler також має окремий рівень
# налаштування, щоб обмежити повідомлення, що виводяться на консоль.
.level=OFF
