# Підмережі можна визначати як 123.45.0.0
# Коментарі після # ігноруються
# Часову мітку закінчення терміну дії можна додати після IP, щоб вказати, коли вимкнути блокування
# Приклад:
# 192.168.0.0 1237618800000 # Блокує всі адреси, що починаються з 192.168, і закінчиться 21 березня 2026 р. о 07:00:00 GMT
10.255.255.255
10.254.254.254
