# Підмережі можуть бути визначені як 123.45.0.0
# Коментарі після # ігноруються
# Мітка часу закінчення терміну може бути додана після IP, коли потрібно вимкнути бан
# Приклад:
# 192.168.0.0 1237618800000 # Блокує всі адреси, що починаються з 192.168, і термін його дії спливає 21 березня 2026 р., 07:00:00 GMT
10.255.255.255
10.254.254.254