# Рівень ведення журналу подій за замовчуванням для всієї системи.
# Визначає, які типи подій записуватимуться в журнал
# для всіх логерів. Для будь-якої конкретної підсистеми цей глобальний рівень
# може бути перевизначений рівнем, специфічним для підсистеми
# Зауважте, що ConsoleHandler також має окреме налаштування рівня
# для обмеження повідомлень, що виводяться в консоль.
.level=OFF
