############################################################
# Глобальні властивості
############################################################

# "handlers" визначає список класів обробників журналів (log Handler), розділених комами. Ці обробники будуть встановлені під час запуску віртуальної машини.
# Зауважте, що ці класи повинні знаходитися в системному classpath.
# За замовчуванням ми налаштовуємо лише ConsoleHandler, який буде відображати повідомлення лише рівня INFO та вище.
#handlers= java.util.logging.ConsoleHandler

# To also add the FileHandler, use the following line instead.
handlers = java.util.logging.FileHandler,\
		java.util.logging.ConsoleHandler,\
		com.l2journey.log.handler.ErrorLogHandler
chat.handlers = com.l2journey.log.handler.ChatLogHandler
chat.useParentHandlers = true
gmaudit.handlers = com.l2journey.log.handler.GMAuditLogHandler
gmaudit.useParentHandlers = true
item.handlers = com.l2journey.log.handler.ItemLogHandler
item.useParentHandlers = true
audit.handlers = com.l2journey.log.handler.AuditLogHandler
audit.useParentHandlers = true
enchant.handlers = com.l2journey.log.handler.EnchantItemLogHandler,\
		com.l2journey.log.handler.EnchantSkillLogHandler
enchant.useParentHandlers = true
olympiad.handlers = com.l2journey.log.handler.OlympiadLogHandler
olympiad.useParentHandlers = true
accounting.handlers = com.l2journey.log.handler.AccountingLogHandler
accounting.useParentHandlers = true

# Стандартний глобальний рівень логування.
# Це визначає, які типи подій реєструються для
# усіх реєстраторів. Для будь-якого конкретного засобу цей глобальний рівень
# може бути змінений на рівень, специфічний для засобу.
# Зверніть увагу, що ConsoleHandler також має окремий рівень
# налаштування для обмеження повідомлень, що виводяться на консоль.
.level= CONFIG

############################################################
# Властивості, специфічні для обробника.
# Описує конкретну інформацію про конфігурацію для обробників.
############################################################

# типовий вихід файлу здійснюється у домашній каталог користувача.
java.util.logging.FileHandler.pattern = log/java%g.log
java.util.logging.FileHandler.formatter = com.l2journey.log.formatter.FileLogFormatter
java.util.logging.FileHandler.limit = 100000000
java.util.logging.FileHandler.count = 20
java.util.logging.FileHandler.level = CONFIG

# Обмежте повідомлення, що виводяться на консоль, рівнем INFO і вище.
java.util.logging.ConsoleHandler.level = FINER
java.util.logging.ConsoleHandler.formatter = com.l2journey.log.formatter.ConsoleLogFormatter

# записувати помилки (виключення)
com.l2journey.log.handler.ErrorLogHandler.pattern = log/error%g.log
com.l2journey.log.handler.ErrorLogHandler.formatter = java.util.logging.SimpleFormatter
com.l2journey.log.handler.ErrorLogHandler.filter = com.l2journey.log.filter.ErrorFilter
com.l2journey.log.handler.ErrorLogHandler.limit = 100000000
com.l2journey.log.handler.ErrorLogHandler.count = 20
com.l2journey.log.handler.ErrorLogHandler.level = CONFIG

# журнал чатів
com.l2journey.log.handler.ChatLogHandler.pattern = log/chat%g.log
com.l2journey.log.handler.ChatLogHandler.formatter = com.l2journey.log.formatter.ChatLogFormatter
com.l2journey.log.handler.ChatLogHandler.filter = com.l2journey.log.filter.ChatFilter
com.l2journey.log.handler.ChatLogHandler.limit = 100000000
com.l2journey.log.handler.ChatLogHandler.count = 20
com.l2journey.log.handler.ChatLogHandler.append = true
com.l2journey.log.handler.ChatLogHandler.level = INFO

# журнал аудиту GM
com.l2journey.log.handler.GMAuditLogHandler.pattern = log/gmaudit%g.log
com.l2journey.log.handler.GMAuditLogHandler.formatter = com.l2journey.log.formatter.GMAuditFormatter
com.l2journey.log.handler.GMAuditLogHandler.filter = com.l2journey.log.filter.GMAuditFilter
com.l2journey.log.handler.GMAuditLogHandler.limit = 100000000
com.l2journey.log.handler.GMAuditLogHandler.count = 20
com.l2journey.log.handler.GMAuditLogHandler.append = true
com.l2journey.log.handler.GMAuditLogHandler.level = INFO

# елементи журналу
com.l2journey.log.handler.ItemLogHandler.pattern = log/item%g.log
com.l2journey.log.handler.ItemLogHandler.formatter = com.l2journey.log.formatter.ItemLogFormatter
com.l2journey.log.handler.ItemLogHandler.filter = com.l2journey.log.filter.ItemFilter
com.l2journey.log.handler.ItemLogHandler.limit = 100000000
com.l2journey.log.handler.ItemLogHandler.count = 20
com.l2journey.log.handler.ItemLogHandler.append = true
com.l2journey.log.handler.ItemLogHandler.level = INFO

# аудит
com.l2journey.log.handler.AuditLogHandler.pattern = log/audit%g.log
com.l2journey.log.handler.AuditLogHandler.formatter = com.l2journey.log.formatter.AuditFormatter
com.l2journey.log.handler.AuditLogHandler.filter = com.l2journey.log.filter.AuditFilter
com.l2journey.log.handler.AuditLogHandler.limit = 100000000
com.l2journey.log.handler.AuditLogHandler.count = 20
com.l2journey.log.handler.AuditLogHandler.append = true
com.l2journey.log.handler.AuditLogHandler.level = INFO

# журнал зачарування предметів
com.l2journey.log.handler.EnchantItemLogHandler.pattern = log/enchantitem%g.log
com.l2journey.log.handler.EnchantItemLogHandler.formatter = com.l2journey.log.formatter.EnchantFormatter
com.l2journey.log.handler.EnchantItemLogHandler.filter = com.l2journey.log.filter.EnchantItemFilter
com.l2journey.log.handler.EnchantItemLogHandler.limit = 100000000
com.l2journey.log.handler.EnchantItemLogHandler.count = 20
com.l2journey.log.handler.EnchantItemLogHandler.append = true
com.l2journey.log.handler.EnchantItemLogHandler.level = INFO

# журнал навичок чарування
com.l2journey.log.handler.EnchantSkillLogHandler.pattern = log/enchantskill%g.log
com.l2journey.log.handler.EnchantSkillLogHandler.formatter = com.l2journey.log.formatter.EnchantFormatter
com.l2journey.log.handler.EnchantSkillLogHandler.filter = com.l2journey.log.filter.EnchantSkillFilter
com.l2journey.log.handler.EnchantSkillLogHandler.limit = 100000000
com.l2journey.log.handler.EnchantSkillLogHandler.count = 20
com.l2journey.log.handler.EnchantSkillLogHandler.append = true
com.l2journey.log.handler.EnchantSkillLogHandler.level = INFO

# журнал олімпіади
com.l2journey.log.handler.OlympiadLogHandler.pattern = log/olympiad.csv
com.l2journey.log.handler.OlympiadLogHandler.formatter = com.l2journey.log.formatter.OlympiadFormatter
com.l2journey.log.handler.OlympiadLogHandler.append = true
com.l2journey.log.handler.OlympiadLogHandler.level = INFO

# бухгалтерський облік
com.l2journey.log.handler.AccountingLogHandler.pattern = log/accounting%g.log
com.l2journey.log.handler.AccountingLogHandler.formatter = com.l2journey.log.formatter.AccountingFormatter
com.l2journey.log.handler.AccountingLogHandler.limit = 100000000
com.l2journey.log.handler.AccountingLogHandler.count = 20
com.l2journey.log.handler.AccountingLogHandler.append = true
com.l2journey.log.handler.AccountingLogHandler.level = CONFIG

############################################################
# Властивості, специфічні для об'єкта.
# Забезпечує додатковий контроль для кожного реєстратора.
############################################################

# Наприклад, налаштуйте реєстратор com.xyz.foo на реєстрацію лише SEVERE
# повідомлень:
com.l2journey.gameserver.level = CONFIG
com.l2journey.loginserver.level = CONFIG
com.l2journey.gameserver.network.serverpackets.level = FINER
com.l2journey.gameserver.network.clientpackets.level = FINER

# Адміністрування альтернативних привілеїв
AltPrivilegesAdmin.pattern = log/admin-commands%g.log
AltPrivilegesAdmin.formatter = com.l2journey.log.formatter.FileLogFormatter
AltPrivilegesAdmin.limit = 100000000
AltPrivilegesAdmin.count = 20
AltPrivilegesAdmin.append = true
AltPrivilegesAdmin.level = CONFIG
